* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// LAYOUTS COMMON


#app {
    width: 100%;
    height: 100vh;

}

.my-dashboard {
    background: #32383e;
}

.my-dashboard a,
.my-navbar a {
    color: #e41d59 !important;
}


main {
    color: white;
    height: 100%;
}

.fa-airbnb {
    font-size: 40px;
}
//FINE LAYOUTS COMMON


// LAYOUTS - APP
.form {
    border-radius: 20px;
    background-image: url('https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.digsdigs.com%2Fphotos%2Fsimple-modernistic-suburban-desert-house-5.jpg&f=1&nofb=1');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow:inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
    padding: 20px 20px 10px 20px;
}

footer {
    background-color: #343a40;
    color: white;
}
//FINE LAYOUTS - APP


// LAYOUTS - DASHBOARD
.my-navbar {
    border-bottom: 2px solid rgb(194, 192, 192);
}
//FINE LAYOUTS - DASHBOARD

// MY BOOTSTRAP
.full-height {
    height: calc(100vh - 68px);
}

.right-border-light {
    border-right: 2px solid rgb(194, 192, 192);
}

.overflow {
    overflow-y: auto;
}

.my-w {
    width: 120px;
}

.h-600 {
    min-height: 650px;
}
// FINE MY BOOTSTRAP


.max-height {
    height: 450px !important;
}

.my-rounded {
    border-radius: 20px;
}
// SPONSORSHIPS
.price-background {
    position: absolute;
    top: -78px;
    left: 117px;
    color: rgba(0, 0, 0, 0.08);
    font-size: 200px;
    font-weight: bold;
  }