* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// LAYOUTS COMMON
#app {
    width: 100%;
    height: 100vh;
}

.my-dashboard,
.my-navbar {
    background: black;
}

.my-dashboard a,
.my-navbar a {
    color: #e41d59 !important;
}


main {
    background-color: black;
    color: white;
    height: 100%;
}
//FINE LAYOUTS COMMON


// LAYOUTS - APP
.my-dashboard {
    height: calc(100vh - 45px);
}
//FINE LAYOUTS - APP


// LAYOUTS - DASHBOARD
.my-navbar {
    border-bottom: 5px solid white;
}
//FINE LAYOUTS - DASHBOARD

